In [22]:
from pyspark.sql import SparkSession

#### we put our files in the cloned git so git can track it as we make changes

In [23]:
import pandas as pd

In [24]:
#app name is just the name of the app
spark = SparkSession.builder.appName('rheeza').getOrCreate() #connection # creating an instance of connection

In [25]:
spark.read.json('dataset.json', multiLine=True) # can take multiline attribute, to remove an added column called corrupt

DataFrame[ageofparticipant: bigint, clinician: struct<branch:string,name:string,role:string>, drug_used: string, experimentenddate: string, experimentstartdate: string, noofhourspassedatfirstreaction: bigint, result: struct<conclusion:string,sideeffectsonparticipant:string>]

In [39]:
trials_df = spark.read.json('dataset.json', multiLine=True)

## Understanding the dataset

In [27]:
trials_df.show()

+----------------+--------------------+---------+-----------------+-------------------+------------------------------+--------------------+
|ageofparticipant|           clinician|drug_used|experimentenddate|experimentstartdate|noofhourspassedatfirstreaction|              result|
+----------------+--------------------+---------+-----------------+-------------------+------------------------------+--------------------+
|              19|{Ontario, Saul, t...|  Placebo|    1619827200000|      1617235200000|                            52|{BP normalized, r...|
|              14|{Ontario, Saul, n...| Naproxen|    1619827200000|      1617235200000|                            78|    {Follow-up, N/A}|
|              17|{Ontario, Saul, n...|  Placebo|    1619827200000|      1617235200000|                            14|    {Follow-up, N/A}|
|              18|{Ontario, Will, n...| Naproxen|    1619827200000|      1617235200000|                            14|{BP normalized, N/A}|
|              17|{Ontario, Patrick...| Naproxen|    1619827200000|      1617235200000|                            22|{No effect, rashe...|
|              17|{Ontario, Patrick...| Naproxen|    1619827200000|      1617235200000|                             4|{Follow-up, heada...|
|              20|{Ontario, Saul, d...| Naproxen|    1619827200000|      1617235200000|                            85|{No effect, heada...|
|              15|{Ontario, Saul, d...|  Placebo|    1619827200000|      1617235200000|                            49|{No effect, rashe...|
|              14|{Ontario, Will, t...|  Placebo|    1619827200000|      1617235200000|                            84|{Follow-up, heada...|
|              20|{Ontario, Colins,...|  Placebo|    1619827200000|      1617235200000|                            66|{Follow-up, arms ...|
|              18|{Ontario, Patrick...|  Placebo|    1619827200000|      1617235200000|                            40|{BP normalized, l...|
|              17|{Ontario, Patrick...|  Placebo|    1619827200000|      1617235200000|                            72|{BP normalized, a...|
|              19|{Ontario, Colins,...|  Placebo|    1619827200000|      1617235200000|                            36|    {No effect, N/A}|
|              15|{Ontario, Colins,...| Naproxen|    1619827200000|      1617235200000|                            12|{BP normalized, h...|
|              19|{Ontario, Saul, t...|  Placebo|    1619827200000|      1617235200000|                            14|    {No effect, N/A}|
|              16|{Ontario, Colins,...|  Placebo|    1619827200000|      1617235200000|                            63|{BP normalized, N/A}|
|              16|{Ontario, Saul, n...| Naproxen|    1619827200000|      1617235200000|                            70|{BP normalized, h...|
|              18|{Ontario, Will, t...| Naproxen|    1619827200000|      1617235200000|                            10|{BP normalized, N/A}|
|              16|{Ontario, Patrick...| Naproxen|    1619827200000|      1617235200000|                            11|{Follow-up, rashe...|
|              14|{Ontario, Patrick...| Naproxen|    1619827200000|      1617235200000|                            32|{No effect, light...|
+----------------+--------------------+---------+-----------------+-------------------+------------------------------+--------------------+
only showing top 20 rows

In [28]:
pd.read_json('dataset.json') # Just trying to observe the difference here spark vs pandas read json

,ageofparticipant,clinician,drug_used,experimentenddate,experimentstartdate,noofhourspassedatfirstreaction,result
0,19,"{'branch': 'Ontario', 'name': 'Saul', 'role': ...",Placebo,1619827200000,1617235200000,52.0,"{'conclusion': 'BP normalized', 'sideeffectson..."
1,14,"{'branch': 'Ontario', 'name': 'Saul', 'role': ...",Naproxen,1619827200000,1617235200000,78.0,"{'conclusion': 'Follow-up', 'sideeffectsonpart..."
2,17,"{'branch': 'Ontario', 'name': 'Saul', 'role': ...",Placebo,1619827200000,1617235200000,14.0,"{'conclusion': 'Follow-up', 'sideeffectsonpart..."
3,18,"{'branch': 'Ontario', 'name': 'Will', 'role': ...",Naproxen,1619827200000,1617235200000,14.0,"{'conclusion': 'BP normalized', 'sideeffectson..."
4,17,"{'branch': 'Ontario', 'name': 'Patrick', 'role...",Naproxen,1619827200000,1617235200000,22.0,"{'conclusion': 'No effect', 'sideeffectsonpart..."
...,...,...,...,...,...,...,...
3581,15,"{'branch': 'Quebec', 'name': 'Drake', 'role': ...",Placebo,1619827200000,1617235200000,86.0,"{'conclusion': 'No effect', 'sideeffectsonpart..."
3582,19,"{'branch': 'Quebec', 'name': 'Said', 'role': '...",Naproxen,1619827200000,1617235200000,52.0,"{'conclusion': 'BP normalized', 'sideeffectson..."
3583,14,"{'branch': 'Quebec', 'name': 'William', 'role'...",Naproxen,1619827200000,1617235200000,14.0,"{'conclusion': 'Follow-up', 'sideeffectsonpart..."
3584,16,"{'branch': 'Quebec', 'name': 'Storey', 'role':...",Naproxen,1619827200000,1617235200000,6.0,{'sideeffectsonparticipant': 'light fever'}
3585,17,"{'branch': 'Quebec', 'name': 'Said', 'role': '...",Placebo,1619827200000,1617235200000,8.0,{'sideeffectsonparticipant': 'headaches'}

In [29]:
trials_df.show(4)

+----------------+--------------------+---------+-----------------+-------------------+------------------------------+--------------------+
|ageofparticipant|           clinician|drug_used|experimentenddate|experimentstartdate|noofhourspassedatfirstreaction|              result|
+----------------+--------------------+---------+-----------------+-------------------+------------------------------+--------------------+
|              19|{Ontario, Saul, t...|  Placebo|    1619827200000|      1617235200000|                            52|{BP normalized, r...|
|              14|{Ontario, Saul, n...| Naproxen|    1619827200000|      1617235200000|                            78|    {Follow-up, N/A}|
|              17|{Ontario, Saul, n...|  Placebo|    1619827200000|      1617235200000|                            14|    {Follow-up, N/A}|
|              18|{Ontario, Will, n...| Naproxen|    1619827200000|      1617235200000|                            14|{BP normalized, N/A}|
+----------------+--------------------+---------+-----------------+-------------------+------------------------------+--------------------+
only showing top 4 rows

In [40]:
# To see the structure of the dataset, datatypes struct is nested, long is an integer
trials_df.printSchema()

root
 |-- ageofparticipant: long (nullable = true)
 |-- clinician: struct (nullable = true)
 |    |-- branch: string (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- role: string (nullable = true)
 |-- drug_used: string (nullable = true)
 |-- experimentenddate: string (nullable = true)
 |-- experimentstartdate: string (nullable = true)
 |-- noofhourspassedatfirstreaction: long (nullable = true)
 |-- result: struct (nullable = true)
 |    |-- conclusion: string (nullable = true)
 |    |-- sideeffectsonparticipant: string (nullable = true)

In [31]:
trials_df.dtypes # data types in list of tuples

[('ageofparticipant', 'bigint'),
 ('clinician', 'struct<branch:string,name:string,role:string>'),
 ('drug_used', 'string'),
 ('experimentenddate', 'string'),
 ('experimentstartdate', 'string'),
 ('noofhourspassedatfirstreaction', 'bigint'),
 ('result', 'struct<conclusion:string,sideeffectsonparticipant:string>')]

In [32]:
trials_df.columns # getting the name of columns

['ageofparticipant',
 'clinician',
 'drug_used',
 'experimentenddate',
 'experimentstartdate',
 'noofhourspassedatfirstreaction',
 'result']

In [33]:
# Let's flatten our json file so each attribute appears as a column
# flatten is making all each attribute in json appear on an individual column--no nesting, e.g branch will not be under clinician

In [34]:
# Lazy way of doing this
columns = [
 'ageofparticipant',
 'clinician.branch',
 'clinician.name',
 'clinician.role',
 'drug_used',
 'experimentenddate',
 'experimentstartdate',
 'noofhourspassedatfirstreaction',
 'result.conclusion',
 'result.sideeffectsonparticipant'
]

In [35]:
trials_df = trials_df.select(columns).show(5) # This is just seeing the nested part

+----------------+-------+-------+---------+---------+-----------------+-------------------+------------------------------+-------------+------------------------+
|ageofparticipant| branch|   name|     role|drug_used|experimentenddate|experimentstartdate|noofhourspassedatfirstreaction|   conclusion|sideeffectsonparticipant|
+----------------+-------+-------+---------+---------+-----------------+-------------------+------------------------------+-------------+------------------------+
|              19|Ontario|   Saul|therapist|  Placebo|    1619827200000|      1617235200000|                            52|BP normalized|          rashes on neck|
|              14|Ontario|   Saul|    nurse| Naproxen|    1619827200000|      1617235200000|                            78|    Follow-up|                     N/A|
|              17|Ontario|   Saul|    nurse|  Placebo|    1619827200000|      1617235200000|                            14|    Follow-up|                     N/A|
|              18|Ontario|   Will|    nurse| Naproxen|    1619827200000|      1617235200000|                            14|BP normalized|                     N/A|
|              17|Ontario|Patrick|   doctor| Naproxen|    1619827200000|      1617235200000|                            22|    No effect|          rashes on neck|
+----------------+-------+-------+---------+---------+-----------------+-------------------+------------------------------+-------------+------------------------+
only showing top 5 rows

In [41]:
# importing functions to count null value
# import all the functions of pyspark

from pyspark.sql import functions as fn

In [37]:
# To count all columns with null values, also create a condition to sieve --al columns
# when is null pick column

In [42]:
trials_df.select([ fn.count(fn.when(fn.col(column).isNull(), column)).alias(column) for column in columns]).show()

+----------------+----------------+--------------+--------------+---------+-----------------+-------------------+------------------------------+-----------------+-------------------------------+
|ageofparticipant|clinician.branch|clinician.name|clinician.role|drug_used|experimentenddate|experimentstartdate|noofhourspassedatfirstreaction|result.conclusion|result.sideeffectsonparticipant|
+----------------+----------------+--------------+--------------+---------+-----------------+-------------------+------------------------------+-----------------+-------------------------------+
|               0|               0|             0|           109|        0|                0|                  0|                            73|               53|                              0|
+----------------+----------------+--------------+--------------+---------+-----------------+-------------------+------------------------------+-----------------+-------------------------------+

In [43]:
# Counting null values per column
# Only when that column is null
trials_df.select([ fn.count(fn.when(fn.col(column).isNull(), column)).alias(column) for column in columns]).show()

+----------------+----------------+--------------+--------------+---------+-----------------+-------------------+------------------------------+-----------------+-------------------------------+
|ageofparticipant|clinician.branch|clinician.name|clinician.role|drug_used|experimentenddate|experimentstartdate|noofhourspassedatfirstreaction|result.conclusion|result.sideeffectsonparticipant|
+----------------+----------------+--------------+--------------+---------+-----------------+-------------------+------------------------------+-----------------+-------------------------------+
|               0|               0|             0|           109|        0|                0|                  0|                            73|               53|                              0|
+----------------+----------------+--------------+--------------+---------+-----------------+-------------------+------------------------------+-----------------+-------------------------------+

Data Cleaning
-flatten df
-address null values
-rename columns

In [44]:
# flatten df - just a copy of the df
new_trials_df = trials_df.select(columns)

In [45]:
new_trials_df.show(5)

+----------------+-------+-------+---------+---------+-----------------+-------------------+------------------------------+-------------+------------------------+
|ageofparticipant| branch|   name|     role|drug_used|experimentenddate|experimentstartdate|noofhourspassedatfirstreaction|   conclusion|sideeffectsonparticipant|
+----------------+-------+-------+---------+---------+-----------------+-------------------+------------------------------+-------------+------------------------+
|              19|Ontario|   Saul|therapist|  Placebo|    1619827200000|      1617235200000|                            52|BP normalized|          rashes on neck|
|              14|Ontario|   Saul|    nurse| Naproxen|    1619827200000|      1617235200000|                            78|    Follow-up|                     N/A|
|              17|Ontario|   Saul|    nurse|  Placebo|    1619827200000|      1617235200000|                            14|    Follow-up|                     N/A|
|              18|Ontario|   Will|    nurse| Naproxen|    1619827200000|      1617235200000|                            14|BP normalized|                     N/A|
|              17|Ontario|Patrick|   doctor| Naproxen|    1619827200000|      1617235200000|                            22|    No effect|          rashes on neck|
+----------------+-------+-------+---------+---------+-----------------+-------------------+------------------------------+-------------+------------------------+
only showing top 5 rows

In [46]:
new_trials_df.printSchema()

root
 |-- ageofparticipant: long (nullable = true)
 |-- branch: string (nullable = true)
 |-- name: string (nullable = true)
 |-- role: string (nullable = true)
 |-- drug_used: string (nullable = true)
 |-- experimentenddate: string (nullable = true)
 |-- experimentstartdate: string (nullable = true)
 |-- noofhourspassedatfirstreaction: long (nullable = true)
 |-- conclusion: string (nullable = true)
 |-- sideeffectsonparticipant: string (nullable = true)

### Cleaning

In [47]:
# flaten df
# address null values
# rename columns

In [48]:
# flaten df

new_trials_df = trials_df.select(columns)
new_trials_df.printSchema()

root
 |-- ageofparticipant: long (nullable = true)
 |-- branch: string (nullable = true)
 |-- name: string (nullable = true)
 |-- role: string (nullable = true)
 |-- drug_used: string (nullable = true)
 |-- experimentenddate: string (nullable = true)
 |-- experimentstartdate: string (nullable = true)
 |-- noofhourspassedatfirstreaction: long (nullable = true)
 |-- conclusion: string (nullable = true)
 |-- sideeffectsonparticipant: string (nullable = true)

In [ ]:
# Note that in the case study description the name of clinician is described as head_clincian's name
# and the role is called the assisting clinician

In [49]:
# rename columns takes withColumnsRenamed and the dictionary of oldname:new name
new_column_names = {
    'ageofparticipant': 'age_of_participant'
    , 'branch': 'clinic_branch'
    , 'name': 'head_clinician'
    , 'role': 'assistants_role'
    , 'experimentenddate': 'experiment_end_date'
    , 'experimentstartdate': 'experiment_start_date'
    , 'noofhourspassedatfirstreaction': 'hours_passed_at_first_reaction'
    , 'sideeffectsonparticipant': 'observed_side_effect'
}
new_trials_df = new_trials_df.withColumnsRenamed(new_column_names)
new_trials_df.show(2)

+------------------+-------------+--------------+---------------+---------+-------------------+---------------------+------------------------------+-------------+--------------------+
|age_of_participant|clinic_branch|head_clinician|assistants_role|drug_used|experiment_end_date|experiment_start_date|hours_passed_at_first_reaction|   conclusion|observed_side_effect|
+------------------+-------------+--------------+---------------+---------+-------------------+---------------------+------------------------------+-------------+--------------------+
|                19|      Ontario|          Saul|      therapist|  Placebo|      1619827200000|        1617235200000|                            52|BP normalized|      rashes on neck|
|                14|      Ontario|          Saul|          nurse| Naproxen|      1619827200000|        1617235200000|                            78|    Follow-up|                 N/A|
+------------------+-------------+--------------+---------------+---------+-------------------+---------------------+------------------------------+-------------+--------------------+
only showing top 2 rows

In [51]:
# Let's fix null values
new_trials_df.describe().show()

23/09/03 12:50:39 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+-------------+--------------+---------------+---------+--------------------+---------------------+------------------------------+-------------+--------------------+
|summary|age_of_participant|clinic_branch|head_clinician|assistants_role|drug_used| experiment_end_date|experiment_start_date|hours_passed_at_first_reaction|   conclusion|observed_side_effect|
+-------+------------------+-------------+--------------+---------------+---------+--------------------+---------------------+------------------------------+-------------+--------------------+
|  count|              3586|         3586|          3586|           3477|     3586|                3586|                 3586|                          3513|         3533|                3586|
|   mean|17.507250418293363|         null|          null|           null|     null|1.618381578137200...| 1.615813671834913...|             44.89097637346997|         null|                null|
| stddev|2.3066401927555233|         null|          null|           null|     null|2.3250351904618263E9| 2.2862846039555306E9|            24.540325490035848|         null|                null|
|    min|                14|      Alberta|        Colins|         doctor| Naproxen|       1614643200000|        1612137600000|                             3|BP normalized|                 N/A|
|    max|                21|       Quebec|       Windsor|      therapist|  Placebo|       1619827200000|        1617235200000|                            87|    No effect|      rashes on neck|
+-------+------------------+-------------+--------------+---------------+---------+--------------------+---------------------+------------------------------+-------------+--------------------+

In [52]:
# missing value observed in 3 columns: assistants_role, hours_passed_at_first_reaction, conclusion

In [53]:
# fill columns with null values
# Putting 0 for hours might indicate immediate side effect after drug use, so we don't fill

new_trials_df = new_trials_df.na.fill({'conclusion': 'No entry', 'assistants_role': 'No entry'})

In [54]:
new_trials_df.describe().show()

+-------+------------------+-------------+--------------+---------------+---------+--------------------+---------------------+------------------------------+-------------+--------------------+
|summary|age_of_participant|clinic_branch|head_clinician|assistants_role|drug_used| experiment_end_date|experiment_start_date|hours_passed_at_first_reaction|   conclusion|observed_side_effect|
+-------+------------------+-------------+--------------+---------------+---------+--------------------+---------------------+------------------------------+-------------+--------------------+
|  count|              3586|         3586|          3586|           3586|     3586|                3586|                 3586|                          3513|         3586|                3586|
|   mean|17.507250418293363|         null|          null|           null|     null|1.618381578137200...| 1.615813671834913...|             44.89097637346997|         null|                null|
| stddev|2.3066401927555233|         null|          null|           null|     null|2.3250351904618263E9| 2.2862846039555306E9|            24.540325490035848|         null|                null|
|    min|                14|      Alberta|        Colins|       No entry| Naproxen|       1614643200000|        1612137600000|                             3|BP normalized|                 N/A|
|    max|                21|       Quebec|       Windsor|      therapist|  Placebo|       1619827200000|        1617235200000|                            87|     No entry|      rashes on neck|
+-------+------------------+-------------+--------------+---------------+---------+--------------------+---------------------+------------------------------+-------------+--------------------+